@media screen and (max-width:1340px) {
    #Marseille_container{
        width:100% ;
    }
    #populaire_container{
        width:100% ;
    }
}
 /* section{
    border:solid 2px #000;
}
div{
    border:solid 2px #000; 
} */
body{
    font-family:'Raleway','calibri',sans-serif;
}
h2{
    font-weight:bolder;
}
p{
    margin-bottom : 5px;
    margin-top: 5px;
}
.Notation_Container{
    display:flex;
    justify-content:start;
    align-items:start;
    height:20px;
    margin-top: 10px;
}
.Notation_Container img{
    max-height: 15px;
}
.Hotel_Card_txt{
    display:flex;
    flex-direction: column;
    padding:2px;
}
.Hotel_Card_container_populaire{
    display:flex;
    height:7em;
    align-items:center;
    background-color:#fff;
    border:solid 7px #fff;
    border-radius:1em;
    margin:20px;
    min-width:374px;
    box-shadow:2px 2px 10px rgb(226, 226, 226);
    overflow :hidden;
}
.Hotel_Card_txt_populaire{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
}
.Hotel_Card_container_populaire:hover{
    transform: translate(1px,1px)

}
.Hotel_Card_img_container_populaire{
   height:7em;
   width:10em;

}
#Marseille_container{
    width:62%;
}
#populaire_container{
    width:25%;
    min-width:500px;
}
.Hotels_container{
    background-color:#f2F2F2;
    border-radius:1em;
    padding:2em;
}
#populaire_titre{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#populaire_titre img{
    height: 40px;
}
#section_hebergements{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap-reverse;
}
.Hotel_Cards_Wrap_Container{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
}
